.titulo
{
	font-family: helvetica;
	color: white;
}
.form
{
	width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 15px;
	border-radius: 3px;
}
#t3
{
	font-family: helvetica;
	color: #ff003e;
}
.t2
{
	font-family: helvetica;
	color: white;
}
.div1
{
	display: inline-flex;
	justify-content: left;
	align-items: center;
	
	background-color: #ff003e;
	font-size: 30px;
	position: relative;
	border-bottom-right-radius: 10px;
}
@font-face
{
	font-family: helvetica;
	src: url (../Diseño/Fuente/HEL.ttf);
}
.btn
{
	border-radius: 4px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow:0 1px 0 rgba (255,255,255,0,3);
	
}
.btn1
{
	background-color: #ff003e;
	color: white;
	width: 350px;
	font-style: helvetica;
	font-size: 20px;
}
.btn1:hover
{
	background-color: #D80035;
}
.intext
{
	outline: none;
	border: solid 1.5px #999;
	padding: 3px;
}
input:valid, textarea:valid
{
	border-color: #22FF17;
}
input:invalid, textarea:invalid
{
	border-color: #ff003e;
}
.et
{
	font-family: helvetica;
	color: black;
}
.h1
{
	color: black;
}
#t2
{
	margin-left: 40px;
	font-size: 60px;
	color: white;
}
.divF
{
	align:center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#t1
{
	height: 120px;
	width: 100%;
	margin-top: -20px;
	margin-left: -10px;
	color: white;
	font-size: 50px;
}
#fondo
{
	background-image: url("../Diseño/imagenes/fondo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
